# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed for efficient storage, retrieval, and manipulation. It serves as a centralized repository for various types of data, allowing users and applications to interact with the data in a controlled and organized manner.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two main types of database management systems:

SQL databases:

Structured and use a predefined schema.
Use tabular format for data representation (rows and columns).
Ensure data integrity and support ACID transactions.
Examples: MySQL, PostgreSQL, Oracle.
NoSQL databases:

Schema-less or have flexible schemas.
Use various data models, like key-value, document, column-family, graph.
Designed for scalability and high performance.
Examples: MongoDB (document-based), Cassandra (column-family), Redis (key-value).

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define, modify, and manage the structure of database objects such as tables, indexes, and constraints.

CREATE: Used to create new database objects. Example: CREATE TABLE Employees (ID INT, Name VARCHAR(50));

DROP: Used to delete database objects. Example: DROP TABLE Employees;

ALTER: Used to modify existing database objects. Example: ALTER TABLE Employees ADD COLUMN Age INT;

TRUNCATE: Used to remove all rows from a table, but keep the table structure. Example: TRUNCATE TABLE Employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used to manipulate the data stored in the database.

INSERT: Used to add new rows to a table. Example: INSERT INTO Employees (ID, Name, Age) VALUES (1, 'John', 25);

UPDATE: Used to modify existing data in a table. Example: UPDATE Employees SET Age = 26 WHERE Name = 'John';

DELETE: Used to remove rows from a table. Example: DELETE FROM Employees WHERE Name = 'John';

# Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database.

SELECT: Used to retrieve data from one or more tables. Example: SELECT Name, Age FROM Employees WHERE Age > 25;

# Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a unique identifier for a row in a table. It ensures each row's uniqueness and serves as a reference point for relationships between tables.

Foreign Key: A foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, enforcing referential integrity.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [15]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="test"
)
print(conn)
# Create a cursor
cursor = conn.cursor()
cursor.execute("SHOW DATABASES")
for x in cursor:
     print(x)
# Execute an SQL query
query = "SELECT * FROM test_table;"
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

<mysql.connector.connection.MySQLConnection object at 0x016CCEC8>
('abhishek',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('test1',)
('world',)

In [16]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="test"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE if not exists test2;")
cursor.execute("SHOW DATABASES")
for x in cursor:
     print(x)

('abhishek',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('test1',)
('test2',)
('world',)

cursor() Method:

The cursor() method is used to create a cursor object, which allows you to interact with the database.
The cursor acts as a pointer that you use to navigate through the result set of a query and perform various database operations.
You use the cursor object to execute SQL statements, fetch data, and manage transactions.
execute() Method:

The execute() method is used to execute SQL queries or statements through the cursor object.
It takes an SQL query as its argument and sends it to the database for execution.
After executing the query, you can use methods like fetchone(), fetchall(), or fetchmany() on the cursor object to retrieve the results.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution for an SQL query is as follows:

FROM
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT/OFFSET