In [1]:
import pandas as pd

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:Name
Alice 25  Female
Bob   30  Male
Claire 27 Female
Then, print the DataFrame

In [4]:

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a relational database or an Excel spreadsheet. A DataFrame can store data of different types in columns, and each column can be seen as a Series.

A Series, on the other hand, is a one-dimensional labeled array that can hold data of any type, similar to a column in a DataFrame.

Example of DataFrame and Series:

In [5]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27]}
df = pd.DataFrame(data)

# Creating a Series from a column of the DataFrame
age_series = df['Age']

print("DataFrame:")
print(df)
print("\nSeries:")
print(age_series)

DataFrame:
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Generates descriptive statistics of the DataFrame.
groupby(): Groups data based on a column and performs aggregate operations.
sort_values(): Sorts the DataFrame by specified columns.
drop(): Removes specified rows or columns from the DataFrame.

In [6]:
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Grouping by 'Gender' and calculating mean age
grouped = df.groupby('Gender')['Age'].mean()

print(grouped)

Gender
Female    26
Male      30
Name: Age, dtype: int64

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable, meaning you can modify their contents, add or remove elements, and change values. However, Panel has been removed from pandas starting from version 0.25.0, so it's no longer relevant.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female